<h3 class="mt-4 mb-4">Welcome {{name}}</h3>
<div class="container row">
  <form class="col-4" method="POST" action="/ownprofile">
    <h5> Your current talent is: {{talents}} </h5> 
    <select class="btn-sm btn-light form-group mt-3 mb-4" id="talent1" name="talents">
      <option value=""> choose a talent </option>
      <option value="PrivateTutoring">Private Tutoring</option>
      <option value="Removal">Removal</option>
      <option value="Gardening">Gardening</option> 
      <option value="Household">Household</option> 
      <option value="Office">Office</option>
      <option value="Shoppingaid">Shoppingaid</option>
      <option value="Elderpeople">Elderpeople</option>
    </select>     
    <div class="form-group mt-1 mb-4">
      <textarea class="form-control" id="description" placeholder="Your description" aria-label="With textarea" name="description">{{description}}</textarea>
    </div>
    <div class="form-group mt-3 mb-4">
      <button type="submit" class="btn btn-primary">save changes</button>
    </div>
  </form>
</div>
      